{% extends 'courses/base.html' %}
{% load course_custom_tags %}
{% block title %}
home
{% endblock %}
{% block start %}

<div class="container">
    <h1 class="display-1"> Signup Page</h1>

<div>
    <form method="post" action='/signup'>
        {% csrf_token %}
        <div>
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
            {{ form.first_name.errors }}
        </div>
        <div>
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
            {{ form.last_name.errors }}
        </div>
        <div>
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div>
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div>
            {{ form.password1.label_tag }}
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>
        <div>
            {{ form.password2.label_tag }}
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>
        <button type="submit">Sign Up</button>
        
    </form>
    

</div> 
</div>
{% endblock %}
